<%- include('../partials/head.ejs', { title: "Login", style: "../css/login.css" }) %>
<%- include('../partials/header.ejs') %>

<div class="container">
    <h1 class="title">Log in</h1>
    <div class="form_login">
        <!-- Display an error message if there was an issue logging in the user after submitting the form -->
        <form class="form1" action="/login" method="post">
            <% if (errorMessage) { %>
                <div class="alert alert-danger" role="alert">
                    <%= errorMessage %> 
                </div>
            <% } %>
            <div class="form-group">
              <label for="exampleInputUsername">Username</label>
              <input name="username" type="text" class="form-control" id="exampleInputUsername" placeholder="Enter Username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
