

<footer>
    <div class="footer_introduction">
        <!-- logo link path -->
        <img src="#" alt="">
        <p> © Copyright 2023. All rights reserved </p>
        <p> Made in Canada with </p>
        <!-- create icon and links for  social media -->
    </div>
    <div class="product">
        <h3><strong>Product</strong></h3>
        <ul>
            <!-- link path  -->
            <li><a href="#" class="link">Home</a></li>
            <li><a href="#" class="link">Purchase</a></li>
            <li><a href="#" class="link">Market</a></li>
            <li><a href="#" class="link">Our Fee</a></li>
            
        </ul>
    </div>
    <div class="learn">
        <ul>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="purchase" class="link">Purchase</a></li>
            <li><a href="market" class="link">Market</a></li>
            <li><a href="learn" class="link">Learn</a></li>
        </ul>
    </div>
    <div class="company">
        <h3><strong>Company</strong></h3>
        <ul>
            <!-- link path -->
            <li><a href="#" class="link">About Us</a></li>
            <li><a href="#" class="link">Contact Us</a></li>
        </ul>
    </div>
</footer>

<script src="js/script.js"></script>

</body>
</html>