<!-- <div class="wallet_connect">
    <div class="wallet_address">
        <span class="opening_platform">Connect with your wallet</span>
        <button id="confirmButton">Confirm</button>
    </div>
</div> -->

<nav>
    <img class="logo" src="../assets/pics/Moon-logos_black.png" alt="">
    <ul>
        <li><a href="/" class="link">Home</a></li>
        <li><a href="purchase" class="link">Purchase</a></li>
        <li><a href="market" class="link">Market</a></li>
        <li><a href="learn" class="link">Learn</a></li>
    </ul>
    <div class="sign_log">
        <!-- instead use js dom, this sign_log has the express syntax
             accomplish the appearance for this nav -->
        <% if (locals.user) { %>    
            <img src="#" alt="profile">
            <a href="profile" id="connect_wallet2">Dashboard</a>
        <% } else { %> 
            <a href="login" id="login">Login</a>
            <a href="register" id="signup">Sign Up</a>
        <% } %>
    </div>
</nav>