<!-- Create a navigation with 2 items that redirects the user to the breeds and facts routes respectively -->
<nav class="dataWeb">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/breeds">Breeds</a></li>
        <li><a href="/facts">Facts</a></li>
    </ul>
</nav>