<%- include('partials/head.ejs', {title:"Learn Crypto", style: style}) %>
<%- include('partials/header.ejs') %>

<!-- create algorithm to access to the json file here -->


<div class="container">
    <div class="background">
        <div class="content">
            <h1>Learn crypto <br> to earn money</h1>
            <h2>Build your blockchain knowledge, complete quizzes, and earn free crypto.</h2>
        </div>
        <img src="assets/pics/blockchain.png" alt="">
    </div>
    <div class="coin_infor">
        <div class="coin">
            <div class="card">
                <img src="assets/pics/bitcoin.png" alt="bitcoin" class="bitcoin_img">
            </div>
            <div class="what_about">
                <div class="history">
                    <div class="wrap">
                        <span>AUTHOR:</span>
                        <h3>Satoshi Nakamoto</h3>
                    </div>
                    <div class="wrap">
                        <span>LAUNCH DATE:</span>
                        <h3>January 3, 2009</h3>
                    </div>
                    <div class="wrap">
                        <span>ALL TIME HIGH:</span>
                        <h3>70,041.22$</h3>
                    </div>
                </div>
                <h1>What is Bitcoin</h1>
                <p>Bitcoin (BTC) is the world’s first cryptocurrency. It is a peer-to-peer payment system that does not rely on any bank. You can use Bitcoin to send payments to anyone on the internet instantly.</p>
                <button><a href="purchase" class="link">BUY COIN</a></button>
            </div>
          
        </div>

        <div class="coin">
            <div class="card">
                <img src="assets/pics/ethe.png" alt="bitcoin" class="bitcoin_img">
            </div>
            <div class="what_about">
                <div class="history">
                    <div class="wrap">
                        <span>AUTHOR:</span>
                        <h3>Vitalik Buterin</h3>
                    </div>
                    <div class="wrap">
                        <span>LAUNCH DATE:</span>
                        <h3>August 7, 2015</h3>
                    </div>
                    <div class="wrap">
                        <span>ALL TIME HIGH:</span>
                        <h3>2,570.47$</h3>
                    </div>
                </div>
                <h1>What is Ethereum</h1>
                <p>Ether (ETH) is the native cryptocurrency of the Ethereum blockchain. ETH is used as a mode of payment to available services or applications within the Ethereum ecosystem. It is also a global digital currency that anyone can use to pay anyone on the internet.</p>
                <button><a href="purchase" class="link">BUY COIN</a></button>
            </div>
          
        </div>

        <div class="coin">
            <div class="card">
                <img src="assets/pics/Dogecoin_Logo.png" alt="Doge"  class="doge_img">
            </div>
            <div class="what_about">
                <div class="history">
                    <div class="wrap">
                        <span>AUTHOR:</span>
                        <h3>2 founders</h3>
                    </div>
                    <div class="wrap">
                        <span>LAUNCH DATE:</span>
                        <h3>December 15, 2013</h3>
                    </div>
                    <div class="wrap">
                        <span>ALL TIME HIGH:</span>
                        <h3>$0.7376</h3>
                    </div>
                </div>
                <h1>What is Dogecoin</h1>
                <p>Dogecoin (DOGE) is an open-source cryptocurrency developed initially as a meme but eventually found a purpose as an alternative to Bitcoin (BTC). It is primarily used as a means of payment and also as a fundraising and tipping system.</p>
                <button><a href="purchase" class="link">BUY COIN</a></button>
            </div>
          
        </div>

        <div class="coin">
            <div class="card">
                <img src="assets/pics/Solana_logo.png" alt="Doge"  class="doge_img">
            </div>
            <div class="what_about">
                <div class="history">
                    <div class="wrap">
                        <span>AUTHOR:</span>
                        <h3>Anatoly Yakovenko</h3>
                    </div>
                    <div class="wrap">
                        <span>LAUNCH DATE:</span>
                        <h3>March 2020</h3>
                    </div>
                    <div class="wrap">
                        <span>ALL TIME HIGH:</span>
                        <h3>$260</h3>
                    </div>
                </div>
                <h1>What is Solona</h1>
                <p>Solana is both a cryptocurrency and a flexible platform for running crypto apps — everything from Degenerate Apes to the Serum decentralized exchange (or DEX). Its major innovation is speed, via a bundle of new technologies including a consensus mechanism called proof of history.</p>
                <button><a href="purchase" class="link">BUY COIN</a></button>
            </div>
        </div>

        <div class="coin">
            <div class="card">
                <img src="assets/pics/chainlink-link-logo.png" alt="Doge"  class="doge_img">
            </div>
            <div class="what_about">
                <div class="history">
                    <div class="wrap">
                        <span>AUTHOR:</span>
                        <h3>Sergey Nazarov, Steve Elli</h3>
                    </div>
                    <div class="wrap">
                        <span>LAUNCH DATE:</span>
                        <h3>September 20, 2017</h3>
                    </div>
                    <div class="wrap">
                        <span>ALL TIME HIGH:</span>
                        <h3>$25.36</h3>
                    </div>
                </div>
                <h1>What is ChainLink</h1>
                <p>ChainLink is a decentralized oracle network of nodes that offer real-world data and information from off-blockchain sources to smart contracts on the blockchain. LINK is the digital asset token used on the ChainLink network for using its services.</p>
                <button src="">BUY COIN</button>
            </div>
          
        </div>

    </div>
</div>

<%- include('partials/footer.ejs') %>
