<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <Head>
        <!-- give path logo img here -->
        <img src="#" alt="">
    </Head>
    <div class="wallet_address">
        <!-- give algorithm here for checking wallet connection -->
        <!-- use wallet address like a decentralized exchange -->
        <!-- give algorithm here. -->
        <h2>Connect your wallet</h2>
        <input type="text" id="#" placeholder="Enter your wallet address">
        <!-- give the js algorithm here -->
        <button id="#">Connect</button>
    </div>

    <%- include('partials/footer.ejs') %>
    <!-- give src path here -->
    <script src="#"></script>
</body>
</html>